body{
	background-color: #fff;
}

/* HEADER */
.header{
	min-height: 120px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#logo-img{
	float:right;
	margin: 3%;
	position: relative;
}

/* SLIDER */
.slider{
	min-height: 480px;
	max-height: 100%;
	background-color: #132d3c;
	background-image: url("../images/slider.png");
	background-repeat: repeat-x;
	background-size: cover;
	position: relative;
	z-index: 1;
}

/* SLIDER TEXT */
#text-slider{
	position: absolute;
  	top: 42%;
  	left: 0;
  	right: 0;
  	color: #fff;
  	font-family: gothambold;
  	text-align: center;
  	font-size: 7vmin;
}

/* MENU */
.menu ul {
	list-style-type:none;
	margin:-40px 0 10% 10%;
	padding:0;
	width: 80%;
	text-align: center;
	position: relative;
	z-index: 2;
}
.menu li {
	display:inline-block;
	margin: 0;
}

.menu li:first-child a{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;  }

.menu li:last-child a{
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;  }

.menu li a {
	display:block;
	min-width:150px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-family: gothambold;
	font-size: 3vmin;
	color: #fff;
	background: #e47a3b;
	text-decoration: none;
	margin: -2px;
}
.menu li:hover a {
	background: #ff8842;
}

/* TEXT CONTENT */
.content{
	font-family: gothambook;
	text-align: center;
	margin-top: 7%;
	width: 100%;
	position: relative;

}
#content-text-a h5{
	font-size: 2vmax;
	color: #999;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	letter-spacing: -1px;
	line-height: 140%;
}
#content-text-b h5{
	font-size: 2vmax;
	color: #999;
	width: 80%;
	margin: 5% 0 10% 10%;
	letter-spacing: -1px;
	line-height: 140%;
	
}
#content-text-contact h5
{
	font-size: 2vw;
	color: #000;
	margin-top: 5%;
	letter-spacing: -0.05vw;
	font-family: notoserif;
}



/* TEXTS */
h1 {
  font-size: 7vw;
}
h2 {
  font-size: 5.0vw;
}
h3 {
  font-size: 4.0vw;
}
p {
  font-size: 2vmin;
}


/* FONTS */
@font-face {
    font-family: gothambold;
    src: url(fonts/gothambold.woff);
}
@font-face {
    font-family: gothambook;
    src: url(fonts/gothambook.woff);
}
@font-face {
    font-family: notoserif;
    src: url(fonts/notoserif-italic.ttf);
}