body{
	background-color: #fff;
}
.header{
	min-height: 120px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#logo-img{
	float:right;
	margin: 2%;
	max-width: 100%;
}
.slider{
	min-height: 480px;
	max-height: 100%;
	background-color: #132d3c;
	background-image: url("../images/slider.png");
	background-repeat: repeat-x;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.content #content-text
{
	font-family: gothambook;
	text-align: center;
	color: #333;

}

/* FONTS */
@font-face {
    font-family: gothambold;
    src: url(fonts/gothambold.woff);
}
@font-face {
    font-family: gothamboook;
    src: url(fonts/gothambook.woff);
}


#text-slider{
	position: absolute;
  	top: 41%;
  	left: 0;
  	right: 0;
  	color: #fff;
  	font-family: gothambold;
  	text-align: center;
}

/* MENU */

.menu ul {
	list-style-type:none;
	margin:-25px 0 0 0;
	padding:0;
	text-align: center;
	position: relative;
	z-index: 2;
}
.menu li {
	display:inline-block;
	margin: 0;
}

.menu li:first-child a{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;  }

.menu li:last-child a{
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;  }

.menu li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: gothambold;
	color: #fff;
	background: #e47a3b;
	text-decoration: none;
	margin: -2px;
}
.menu li:hover a {
	background: #ff8842;
}

/* TEXTS */
h1 {
  font-size: 7vw;
}
h2 {
  font-size: 5.0vh;
}
h3 {
  font-size: 4.0vh;
}
p {
  font-size: 2vmin;
}