
/* 1. HEADER*/
/* 2. SLIDER*/
/* 3. MENU*/
/* 4. CONTENT-TEXT*/
/* 5. TESTIMONIALS */
/* 6. LEARNING */
/* 7. FOOTER */


body{
	background-color: #fff;
}

a:link {
	color: #e4783a;
	text-decoration: none;
}

/* HEADER */
.header{
	min-height: 100px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#logo-img{
	float:right;
	margin: 35px;
	position: relative;
}

/* SLIDER */
.slider{
	min-height: 480px;
	max-height: 100%;
	background-color: #132d3c;
	background-image: url("../images/slider.png");
	background-repeat: repeat-x;
	background-size: cover;
	position: relative;
	z-index: 1;
}

/* SLIDER TEXT */
#text-slider{
	position: absolute;
  	top: 42%;
  	left: 0;
  	right: 0;
  	margin-left:5%;
  	margin-right: 5%; 
  	color: #fff;
  	font-family: gothambold;
  	text-align: center;
  	font-size: 6vmin;
}

/* MENU */
.menu ul {
	list-style-type:none;
	margin:-40px 0 10% 10%;
	padding:0;
	width: 80%;
	text-align: center;
	position: relative;
	z-index: 2;
}
.menu li {
	display:inline-block;
	margin: 0;
}

.menu li:first-child a{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;  }

.menu li:last-child a{
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;  }

.menu li a {
	display:block;
	min-width:150px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-family: gothambold;
	font-size: 3vmin;
	color: #fff;
	background: #e47a3b;
	text-decoration: none;
	margin: -2px;
}
.menu li:hover a {
	background: #ff8842;
}

/* TEXT CONTENT */
.content{
	font-family: gothambook;
	text-align: center;
	margin-top: 7%;
	width: 100%;
	position: relative;
	font-size: 2vmax;

}
#content-text-a h5{
	color: #666;
	width: 55%;
	margin-left: 22.5%;
	margin-right: 22.5%;
	letter-spacing: -0.2px;
	line-height: 140%;
}
#content-text-b h5{
	color: #666;
	width: 65%;
	margin:5% 17.5% 5% 17.5%;
	letter-spacing: -0.2px;
	line-height: 140%;
	
}
#content-text-contact h5
{
	color: #292929;
	width: 60%;
	margin-left:  20%;
	margin-bottom: 5%;
	font-family: notoserif;
	line-height: 140%;
}


/* DIVIDER */
.row-divider{
	height:1%;
	width: 20%;
	margin-left: 40%;
	margin-bottom: 5%;
	background:#e4e4e4;
}

/* ICONS COMPLETE */

#text-icons-complete h1
{
	font-size: 2.8vmax;
	margin: 5%;
	color: #292929;
	letter-spacing: -1px;
	font-family: gothambook;
}
.icon-img{
	margin: 10px;
}
.icon-text{
	font-family: notoserif;
	font-size: 2vmax;
	width: 70%;
	color: #292929;
	margin-left: 15%;
	margin-bottom: 3%;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  COLUMN2 SETUP  */
.col2 {
	display: block;
	float:left;
	margin: 1% 0 1% 0;
}
.col2:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/* TESTIMONIAL */
.testimonial{
	min-height: 100px;
	background-color: #13394b;
	padding-top: 7%;
	color: #fff;
	text-align: center;
}
.testimonial #title{
	font-family: gothambold;
	font-size: 3vmax;
}
.testimonial #subtitle{
	font-family: gothambook;
	font-size: 2.3vmax;
}
.learning{
	text-align: center;
	margin-top: 5%;
}
.learning #title h1
{
	font-size: 3vmax;
	margin: 5% 0 2% 0;
	color: #292929;
	letter-spacing: -1px;
	font-family: gothambold;
}
.learning #subtitle{
	font-size: 2.5vmax;
	margin: 0 20% 2% 20%;
	width: 60%;
	color: #292929;
	letter-spacing: -1px;
	font-family: gothambook;
}

.learning .icon-text{
	font-family: notoserif;
	font-size: 2vmax;
	width: 70%;
	color: #555;
	margin-left: 15%;
	margin-bottom: 3%;
	letter-spacing: -0.2px;
}

.instructor{
	margin: 5% 0 5% 15%;
	width: 70%;
}
.instructor-info{
	margin-top:17%;
}
.instructor #profile-pic{
	margin-left: 12%;
}
.instructor #name{
	margin-bottom: 2%;
	font-family: gothambold;
	font-size: 3.5vmin;
}
.instructor #description{
	font-family: notoserif;
	font-size: 2.5vmin;
	margin-bottom: 3%;
	line-height: 140%;
}
.instructor #email{
	font-family: notoserif;
	color: #e4783a;
	font-size: 2.5vmin;
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
.span_1_of_2_instructor {
	width: 49.2%;
}
.footer{
	min-height: 40px;
	background-color: #033042;
}


/*  RESPONSIVE */

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.col2 {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.icon-text{
		font-size: 2.9vmax;
	}
}
@media only screen and (max-width: 750px) {

	.content{
		font-size: 2.5vmax;
	}
	.menu li:first-child a{
		border-top-left-radius: 0px; 
		border-bottom-left-radius: 0px;  
	}

	.menu li:last-child a{
		border-top-right-radius: 0px; 
		border-bottom-right-radius: 0px;  
	}
	.menu li a {
		display:block;
		min-width:210px;
		height: 80px;
		text-align: center;
		line-height: 80px;
		font-family: gothambold;
		font-size: 3vmin;
		color: #fff;
		background: #e47a3b;
		text-decoration: none;
		margin: -2px;
	}
	.icon-text{
		font-size: 2.5vmax;
	}
	.span_1_of_2_instructor { width: 100%; }

	.instructor #profile-pic
	{
		text-align:center; 
		margin-top:0px; 
		margin-bottom:0px; 
		padding:0px;
	}
	.instructor #profile-pic img{
		display: inline-block;
	}
	.instructor
	{
		position: relative;
		text-align: center;
	}
	.instructor-info
	{
		margin-top: 2%;
		text-align: center;
	}
		
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}


/* FONTS */
@font-face {
    font-family: gothambold;
    src: url(fonts/gothambold.woff);
}
@font-face {
    font-family: gothambook;
    src: url(fonts/gothambook.woff);
}
@font-face {
    font-family: notoserif;
    src: url(fonts/notoserif-italic.ttf);
}